* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.container {
    background-image: url(./images/1.jpg);
    background-repeat: repeat-y;
    background-size: 100% 100%;
    background-attachment: fixed;
}


.container {
    background-color: rgba(60, 4, 4, 0.918);
    display: grid;
    grid-template-columns: 1fr;


}

.navbar {
    background: url(./images/2.jpg) no-repeat fixed;
    background-size: 100%;

    display: grid;
    grid-template-columns: 1fr;
    border-bottom: solid 20px rgba(167, 155, 155, 0.113);
    width: 100%;
    position: sticky;
    z-index: 10;
    top: 0px;
    z-index: 5;
    height: 120px;
}

.nav {
    display: flex;


    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100px;


    padding-right: 10px;




}



.nav .logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 15px;
    margin-right: 5px;
    height: 70%;
    color: rgb(214, 211, 209);


    background-color: rgba(71, 41, 83, 0.903);


    margin-left: 5px;
}

.logo:hover {
    box-shadow: 2px 3px 6px rgba(172, 159, 152, 0.666);

    color: rgba(208, 208, 202, 0.623);

    text-shadow: 3px 3px 2px rgba(101, 90, 90, 0.939);
    background-color: rgba(108, 74, 103, 0.491);
    cursor: pointer;

}



.menubar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 70%;
    width: 80%;
    background-color: rgba(63, 88, 88, 0.197);

    border-radius: 15px;

}

.menubar:hover {
    background-color: rgba(156, 156, 106, 0.308);


}






.sub-menu {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.sub-menu ul {
    display: flex;
    justify-content: space-around;
    padding-left: 10px;
    width: 70%;
}

.sub-menu ul li {
    list-style: none;
    padding-left: 10;
    color: rgb(162, 162, 210);

}

.sub-menu ul li:hover {
    color: rgb(239, 241, 243);

    text-shadow: 5px 3px 5px rgba(216, 216, 17, 0.804);
    text-decoration: underline rgb(210, 203, 203) 1px;

    transform: translateY(-2px);
    font-size: 15px;
    cursor: pointer;


}

.login {
    padding-right: 10px;
    justify-content: center;
    align-items: center;

}

.login button {
    border-radius: 15px;
    padding: 0px 10px;
    background-color: rgba(122, 119, 155, 0.769);
    padding: 2px 10px;
    cursor: pointer;




}


.login button:hover {

    background-color: rgba(75, 77, 142, 0.823);
    color: rgb(223, 223, 228);
    transform: scale(1.2);
}


.sub-container {
    height: 100vh;


}

.sub-container {


    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 10px;
    height: 100vh;


    background-size: cover;


}


.left {

    padding-left: 10px;
    height: 100vh;

}


.sub-right {

    width: 100vh;
}

.right {
    padding-left: 10px;
    height: 100vh;

    width: 100%;
}


.sub-right {

    padding-left: 10px;
    padding-right: 10px;

    width: 100%;

    height: 100vh;



}

._30 {
    height: 30%;


    padding-left: 10px;


}


._70 {
    height: 70%;
    width: 100%;
    padding: 10px;


    display: flex;
    justify-content: center;
    align-items: center;


}

.img {
    width: 100%;
    border-top: solid rgba(16, 3, 3, 0.663)5px;

    height: 100%;

    justify-content: center;
    padding-top: 10px;
    padding-left: 10px;

}

.img img {

    height: 200px;

    border: solid rgba(255, 255, 0, 0.414);



}


.left {
    position: relative;
}

/*   --- ! --*/





footer {
    height: 200px;
    background-color: gold;

    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./images/3.jpg) no-repeat;
    background-size: 100% 100%;
    padding: 10px 0px;
}

.footer {

    width: 100%;
    height: 100%;
    padding-top: 10px;
    text-align: center;
    background: url(./images/2.jpg) no-repeat;
    background-size: 100% 100%;
    margin: 0px 10px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    row-gap: 10px;


}

.social {
    background-color: rgba(166, 155, 134, 0.324);
    ;
    justify-self: center;
    align-self: center;
    border-radius: 15px;
    height: 40%;

    width: 90%;
}

.footer i {
    background-color: rgb(63, 114, 176);

    width: 90%;
    padding-top: 10px;
    padding-bottom: 25px;
    border-radius: 45%;
    text-align: center;
    height: 30px;
    justify-self: center;
    align-self: center;
}

.social li {
    list-style: none;
    font-weight: bolder;

}

.social :hover {
    color: blue;

}

.img img:hover {
    transform: scale(1.5);

    padding: 0px;
}

.img img {
    width: 70%;
    padding-bottom: 10px;
}


.img {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 10px;
    padding-left: 0%;

}


/*  =============================================   */

.sub-container {

    padding: 0px;
    outline: none;

}

.left,
.right {

    margin: 0px;
}

.sub-right {

    padding: 0%;

}


._30,
._70 {

    margin: 0px;

}

.sub-left {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
}

.sub-left .content {
    padding-left: 10px;

}

.left {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    padding-left: 0px;


}



.sub-left {
    flex-grow: 2;
    height: 30vh;


}

.GP {
    display: flex;
    justify-content: center;
    align-items: center;
}



.GP h3:hover {
    transform: scale(1.5);
}

.content:hover {
    transform: scale(1);

}


.GP {
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: initial;
    font-size: 12px;

    background-size: 100% 100%;
}

.GP img {
    width: 100%;
    height: 40%;
    border-radius: 0px;
    padding: 0px;
    margin-top: 10px;
    object-fit: fill;
}

.GP img:hover {
    opacity: 0.75;
    ;
}

._30 p {
    font-size: 14px;
    color: rgb(36, 11, 11);
    text-align: center;
    background-color: rgba(245, 245, 220, 0.427);
    padding: 5px 10px;
    border-radius: 15px;
    height: 50%;
    margin-top: 10px;
}


.members {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.members .card img {
    width: 60px;
    height: 30px;


    padding: 2px;

}

.members {
    color: rgb(23, 23, 24);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

}

.card {

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub-left {
    display: grid;
    grid-template-columns: 1fr;
}

.members .video {
    width: 80%;
    height: 50px;
}

.right ._30 h1 {
    padding-top: 15px;
    font-size: 22px;
    text-align: center;
    color: rgb(75, 4, 4);
}

._70 {
    display: flex;
    flex-direction: column;
    overflow: scroll;


}


/*=============================================*/


.content h1 {
    font-size: 22px;
    color: blue;
    text-shadow: 5px 5px 5px rgb(56, 56, 35);
}

.left,
.sub-right {
    padding-top: 20px;
    border: none;
}


.content {

    justify-content: center;
    width: 100%;
    text-align: center;

}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card img:hover {
    transform: scale(1.2);
}

button:hover {
    background-color: rgba(13, 8, 8, 0.703);
    color: rgb(218, 224, 230);
    border-radius: 15PX;
}


.content:hover {

    background-color: rgba(1, 16, 16, 0.141);

}

button {
    border-radius: 15PX;
    background-color: rgba(20, 20, 97, 0.703)
}

._30 H1:hover {
    transform: translateY(-2px);
    text-shadow: 5px 5px 3px rgba(168, 46, 46, 0.296)
}

._30 p:hover {


    background-color: rgba(245, 245, 220, 0.691);


}

.members:hover {
    background-color: rgba(76, 76, 61, 0.264);
}

.sub-left {
    justify-content: center;
    align-items: center;
    height: 100%;
}


.sub-menu ul li a {
    text-decoration: none;
    color: aliceblue;
    cursor: pointer;
}

.sub-menu ul li a:hover {
    color: rgba(250, 244, 244, 0.925);
}

._30 {
    margin-right: 10px;

}

._30 p {
    height: fit-content;

    overflow: auto;
}

.img {
    height: 50vh;
}

.sub-right {
    height: 100%;
    overflow: auto;
}

.gp-family {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20pxpx;
    margin-bottom: 40px;
}

.right {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    overflow: auto;
    margin-bottom: 20px;
}

.sub-right {

    height: 400px;




    margin-bottom: 0px;
    padding-bottom: 10px;
    margin-top: 10px;

}

.sub-right ._70 {
    width: 100%;


    height: 100%;
}

.gp-family {
    margin-top: 30px;
    display: flex;
    row-gap: 10px;

    height: 100%;
    flex-direction: column;
}


.Gp-Members {

    width: 100%;

    display: flex;
    row-gap: 10px;
    justify-content: center;
    align-items: center;


}

.img {
    padding: 0px;
    margin: 0%;
    margin: ;
    overflow: auto;
    padding-top: 15px;
}

.img img:hover {
    transform: scale(1.1);

}



.container {
    overflow: auto;
    margin: 0px;
}

.extra {
    position: relative;
    display: flex;
    justify-content: center;
    color: brown;
    width: 100%;
    padding: 20px;
}

.extra:hover {

    transform: scale(1.3);
    color: blue;
}

.right {
    margin: 0px;
    width: 100%;
}

.sub-container,
.container {
    padding-right: 0px;
    margin-right: 0px;
}

.gp-family {
    margin-bottom: 0px;
}

.right{
    row-gap: 20px;
}


/* ===============================================================================*/

@media screen and (max-width:600px) {

    .card img:hover {
        transform: scale(1.2);
    }

    .extra {
    position: relative;
    display: flex;
    justify-content: center;
    color: brown;
    width: 100%;

  

}
.extra:hover{

    transform: scale(1.2);
    color: black;
}
  

    .sub-container {
        display: grid;
        grid-template-columns: 1fr;

    }

    .sub-menu {
        font-size: 11px;
    }

    .login {
        padding-right: 1px;
    }

    .right {
        padding-left: 0px;

    }

    .right .sub-right {
        padding-left: 0px;
        padding-right: 0px;


        gap: 10px;







    }




    .img {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        overflow: scroll;
    }

    .left {
        height: 40vh;
    }


    .content {

        display: inline;







        width: 100%;

        width: 80%;
        overflow: hidden;
    }

    .container {
        background-image: url(./images/1.jpg);
        background-repeat: repeat-y;
        background-size: 100% 100%;
        background-attachment: fixed;


        padding-bottom: 100%;

    }

    ._70 {
        display: flex;
        position: relative;
        flex-direction: column;
    }

    ._70 .Gp-Members {
        position: absolute;


    }

    .footer {

        width: 100%;
        padding-top: 10px;
        text-align: center;
        background-color: rgba(168, 172, 179, 0.323);
        margin: 0px 10px;
        border-radius: 15px;
        background: url(./images/2.jpg) no-repeat;
        backdrop-filter: 0.5;
        background-size: 100% 100%;

    }

    .social {
        background-color: rgba(166, 155, 134, 0.324);
        ;
        color: wheat;
    }

    .footer i {
        background-color: rgb(63, 114, 176);

    }

    .content .bt {
        padding: 20px;
        display:

    }


    .img img {
        width: 70%;

    }

    .img img:hover {
        transform: scale(1.3);
    }






    .members {
        color: rgb(23, 23, 24);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;

        padding: 10px;

    }

    .right ._30 h1 {
        padding-top: 15px;
        font-size: 18px;
        text-align: center;
        color: rgb(75, 4, 4);
    }

    .sub-left .content {
        padding-left: 10px;
        border: none;
        color: rgb(8, 8, 98);

    }

    .sub-left .content:hover {
        color: black;
    }

    .sub-left .content button {
        background-color: rgba(137, 43, 226, 0.751);

        padding: 5px;
        margin-top: 10px;


    }

    .card img:hover {
        transform: scale(1.1);
    }

    .left {
        display: grid;
        grid-template-columns: 1fr;






    }

    .sub-lef .content {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sub-left {
        height: auto;


    }


    .content{
        width: 100%;

    }
}

._30 p{
    padding: 20px;
    
}
